.dark-theme {
    background: #141414;
    color: #fff;
}

.light-theme {
    background: #fff;
    color: #141414;
}

html {
    font-size: 100%;
    height: 100%;
    width: 100%;
}
  
body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: 'Courier New', monospace;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
  
.clearfix:after {
    clear: both;
}

.wrapper {
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}

header {
    margin-bottom: 30px;
}

header nav a {
    padding-left: 16px;
    padding-right: 16px;
}

main p {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer {
    margin-top: 30px;
}

#cover-img {
    border: 1px solid #fff;
}